RewriteEngine on

RewriteRule ^(index|contact|registration|login|search|logout|profile|users_search)$ $1.php [NC,L]

RewriteRule ^(videos/)$ videos.php [NC,L]

RewriteRule ^post/(\d+)$ post.php?p_id=$1 [NC,L]

RewriteRule ^category/([^/]*)/(\d+)/?$ category.php?category=$1&cat_id=$2 

RewriteRule ^author/([^/]*)$ author_posts.php?author=$1 

RewriteRule ^user_profile/([^/]*)$ user_profile.php?username=$1

RewriteRule ^report/([^/]*)$ report_user.php?username=$1 

RewriteRule ^forgot/([^/]*)$ forgot.php?forgot=$1 


